{% if site.category_tag_cloud %}
<section>
<h1>分類</h1>
<span class='categories_tag'> <a href='/blog/categories/design-pattern' style='font-size: 110.0%'>Design-pattern(1)</a>  <a href='/blog/categories/ios-app' style='font-size: 150.0%'>Ios app(5)</a>  <a href='/blog/categories/objective-c' style='font-size: 160.0%'>Objective-c(6)</a>  <a href='/blog/categories/octopress' style='font-size: 120.0%'>Octopress(2)</a>  <a href='/blog/categories/phone' style='font-size: 110.0%'>Phone(1)</a>  <a href='/blog/categories/rails' style='font-size: 110.0%'>Rails(1)</a>  <a href='/blog/categories/ruby' style='font-size: 110.0%'>Ruby(1)</a>  <a href='/blog/categories/tools' style='font-size: 120.0%'>Tools(2)</a>  <a href='/blog/categories/vim' style='font-size: 120.0%'>Vim(2)</a> </span>
</section>
{% endif %}
